* {
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}
#pdf-container {
    flex: 1;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}
#button-container {
    display: flex;
    flex-direction: row;
}
#button1 {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#button2 {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.button:hover {
    cursor: pointer;
}
.button {
    width: 100px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    padding: 5px;
    padding-bottom: 7px;
    color: #777;
    background-color: #eee;
}
.selected {
    font-weight: bold;
    color: #fff;
    background-color: #27b4f5;
}
